.next-gen {
    top: 124px;
    width: 527px;
    opacity: 0.95;
  }
  .ive-developed-a,
  .next-gen,
  .virtual-reality {
    position: absolute;
    left: 93px;
    display: inline-block;
  }
  .virtual-reality {
    top: 220px;
    font-size: 56px;
    background: linear-gradient(92.47deg, #26e6f2, #9113b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 509px;
    opacity: 0.95;
  }
  .ive-developed-a {
    top: 312px;
    font-size: 24px;
    font-family: var(--font-hahmlet);
    width: 975px;
    height: 209px;
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    background: linear-gradient(92.47deg, #26e6f2, #9113b0);
    width: 270px;
    height: 64px;
    opacity: 0.95;
  }
  .click-here-to {
    position: absolute;
    top: 14px;
    left: calc(50% - 91px);
    display: inline-block;
    width: 209px;
    height: 26px;
  }
  .rectangle-parent {
    width: 270px;
    position: relative;
    box-shadow: 0 4px 250px #ce09ff;
    height: 64px;
  }
  .group-wrapper {
    text-decoration: none;
    position: absolute;
    top: 604px;
    left: 93px;
    filter: drop-shadow(0 4px 250px rgba(0, 0, 0, 0.25));
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 26px;
    color: inherit;
    font-family: var(--font-itim);
  }
  .next-gen-parent {
    width: 100%;
    position: relative;
    border-radius: 20px;
    background-color: #18042e;
    height: 829px;
    overflow: hidden;
    text-align: left;
    font-size: 96px;
    color: var(--color-white);
    font-family: var(--font-josefin-sans);
  }
  
